[submodule "Semen Trifochkin"]
	path = Semen_Trifochkin
	url = https://github.com/Gmacem/FILP
	branch = master
[submodule "Irina Zaets"]
	path = Irina_Zaets
	url = https://github.com/Irina-zaez/FILP_Zaets
	branch = master
[submodule "Dmitrii Kariakin"]
	path = Dmitrii_Kariakin
	url = https://github.com/tmpkd/FILP
	branch = master
[submodule "Ruslan Sirazhetdinov"]
	path = Ruslan_Sirazhetdinov
	url = https://github.com/irusland/text-manager
	branch = master
[submodule "Pavel Cherentsov"]
	path = Pavel_Cherentsov
	url = https://github.com/PavelCherentsov/FILP
	branch = master
[submodule "Nikolai Korobeinikov"]
	path = Nikolai_Korobeinikov
	url = https://github.com/hypelive/FILP
	branch = master
[submodule "Ilya Belyaev"]
	path = Ilya_Belyaev
	url = https://github.com/CaptainBelyash/Belyaev-FILP
	branch = master
[submodule "Semen Beklenishchev"]
	path = Semen_Beklenishchev
	url = https://github.com/beklenishchevS/FILP_practice
	branch = master
[submodule "Kirill Kulemin"]
	path = Kirill_Kulemin
	url = https://github.com/kirillkulemin/FILP
	branch = master
[submodule "Ivan Kogut"]
	path = Ivan_Kogut
	url = https://github.com/IvanKogut11/c-task1
	branch = master
[submodule "Evgenii Perezhogin"]
	path = Evgenii_Perezhogin
	url = https://github.com/PapaKarlo787/filp
	branch = master
[submodule "Ziyatdinov Alexander"]
	path = Ziyatdinov_Alexander
	url = https://github.com/alextttzzz/FILP_Ziyatdinov_Alexander
	branch = master
[submodule "Stepan Hudyakov"]
	path = Stepan_Hudyakov
	url = https://github.com/Scopee/FILP
	branch = master
[submodule "Maria Osipova"]
	path = Maria_Osipova
	url = https://github.com/maria-osp/FILP
	branch = master
[submodule "Inna Anikina"]
	path = Inna_Anikina
	url = https://github.com/innaanikina/filp_cplusplus
	branch = master
[submodule "Ruslan Sirazhetdinov 2"]
	path = Ruslan_Sirazhetdinov_2
	url = https://github.com/irusland/buddy-allocator
	branch = master
[submodule "Ruslan Sirazhetdinov 3"]
	path = Ruslan_Sirazhetdinov_3
	url = https://github.com/irusland/spointer
	branch = master
[submodule "Lev Mukoseev"]
	path = Lev_Mukoseev
	url = https://github.com/LevMukoseev/FILP
	branch = master
[submodule "Irina Kuzvesova"]
	path = Irina Kuzvesova
	url = https://github.com/IrinaKuzvesova/FILP
[submodule "Anton Zanin"]
	path = Anton Zanin
	url = https://github.com/ZaninAnton/FILP
