[submodule "Semen Trifochkin"]
	path = Semen_Trifochkin
	url = https://github.com/Gmacem/FILP
	branch = master
[submodule "Irina Zaets"]
	path = Irina_Zaets
	url = https://github.com/Irina-zaez/FILP_Zaets
	branch = master
[submodule "Dmitrii Kariakin"]
	path = Dmitrii_Kariakin
	url = https://github.com/tmpkd/FILP
	branch = master
[submodule "Ruslan Sirazhetdinov"]
	path = Ruslan_Sirazhetdinov
	url = https://github.com/irusland/text-manager
	branch = master
[submodule "Pavel Cherentsov"]
	path = Pavel_Cherentsov
	url = https://github.com/PavelCherentsov/FILP
	branch = master
[submodule "Nikolai Korobeinikov"]
	path = Nikolai_Korobeinikov
	url = https://github.com/hypelive/FILP
	branch = master
[submodule "Ilya Belyaev"]
	path = Ilya_Belyaev
	url = https://github.com/CaptainBelyash/Belyaev-FILP
	branch = master
